<div class="chat-container p-3">
  <div class="messages mb-3" style="max-height: 400px; overflow-y: auto;">
    <div *ngFor="let msg of messages" [ngClass]="{'text-end': isOwnMessage(msg), 'text-start': !isOwnMessage(msg)}">
      <div [ngClass]="{'bg-primary text-white': isOwnMessage(msg), 'bg-light': !isOwnMessage(msg)}"
           class="d-inline-block rounded px-3 py-2 my-1">
        <ng-container *ngIf="msg.type === 'text'">
          {{ msg.message }}
        </ng-container>
        <ng-container *ngIf="msg.type === 'custom_list'">
          <a [routerLink]="['/customlists-detail', msg.customList?.id]"
             class="text-decoration-none fw-bold text-info">
            [Lista: {{ msg.customList?.listName }}]
          </a>
        </ng-container>

      </div>
    </div>
  </div>


  <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="newMessage" placeholder="Escribe un mensaje..."
           (keyup.enter)="sendMessage()">
    <button class="btn btn-primary" (click)="sendMessage()">Enviar</button>
  </div>

  <div class="mb-2 d-flex">
    <select class="form-select me-2" [(ngModel)]="selectedListId">
      <option *ngFor="let list of customLists" [value]="list.id">{{ list.listName }}</option>
    </select>
    <button class="btn btn-secondary" (click)="sendCustomList()">Enviar lista</button>
  </div>
</div>
