<div id="vaultRoot" style="position: relative;">

  <div id="main" >
    <section>
      <h2 style="margin-left: 20px; margin-top: 20px">Peliculas</h2>
      <div *ngIf="vaultMovies.length > 0" class="vault-carousel">
        <div *ngFor="let movie of vaultMovies" class="vault-card">
          <img [src]="movie.coverImage" [alt]="movie.title" />
          <h2 class="vault-title">{{ movie.title }}</h2>
          <p><strong>Fecha:</strong> {{ movie.releaseDate }}</p>
          <!-- Capa superpuesta con animación -->
          <div class="card-overlay">
            <a class="btn btn-light eye-hover" [routerLink]="['/detail-content', movie.id]">
              <i class="bi bi-eye me-2"></i> Detalles
            </a>
            <a class="btn btn-outline-light trash-hover" (click)="deleteItem(movie.id)">
              <i class="bi bi-trash"></i> Eliminar
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="vaultMovies.length === 0" style="margin-left: 20px">
        No tienes películas en tu Baúl.
      </div>
    </section>

    <section>
      <h2 style="margin-left: 20px;">Series</h2>
      <div *ngIf="vaultShows.length > 0" class="vault-carousel">
        <div *ngFor="let show of vaultShows" class="vault-card">
          <img [src]="show.coverImage" [alt]="show.title" />
          <h2 class="vault-title">{{ show.title }}</h2>
          <p><strong>Fecha:</strong> {{ show.releaseDate }}</p>
          <!-- Capa superpuesta con animación -->
          <div class="card-overlay">
            <a class="btn btn-light eye-hover" [routerLink]="['/detail-content', show.id]">
              <i class="bi bi-eye me-2"></i> Detalles
            </a>
            <a class="btn btn-outline-light trash-hover" (click)="deleteItem(show.id)">
              <i class="bi bi-trash"></i> Eliminar
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="vaultShows.length === 0" style="margin-left: 20px">
        No tienes series en tu Baúl.
      </div>
    </section>

    <section>
      <h2 style="margin-left: 20px;">Videojuegos</h2>
      <div *ngIf="vaultGames.length > 0" class="vault-carousel">
        <div *ngFor="let game of vaultGames" class="vault-card">
          <img [src]="game.coverImage" [alt]="game.title" />
          <h2 class="vault-title">{{ game.title }}</h2>
          <p><strong>Fecha:</strong> {{ game.releaseDate }}</p>
          <!-- Capa superpuesta con animación -->
          <div class="card-overlay">
            <a class="btn btn-light eye-hover" [routerLink]="['/detail-content', game.id]">
              <i class="bi bi-eye me-2"></i> Detalles
            </a>
            <a class="btn btn-outline-light trash-hover" (click)="deleteItem(game.id)">
              <i class="bi bi-trash"></i> Eliminar
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="vaultGames.length === 0" style="margin-left: 20px">
        No tienes videojuegos en tu Baúl.
      </div>
    </section>

    <section>
      <h2 style="margin-left: 20px;">Anime</h2>
      <div *ngIf="vaultAnimes.length > 0" class="vault-carousel">
        <div *ngFor="let anime of vaultAnimes" class="vault-card">
          <img [src]="anime.coverImage" [alt]="anime.title" />
          <h2 class="vault-title">{{ anime.title }}</h2>
          <p><strong>Fecha:</strong> {{ anime.releaseDate }}</p>
          <!-- Capa superpuesta con animación -->
          <div class="card-overlay">
            <a class="btn btn-light eye-hover" [routerLink]="['/detail-content', anime.id]">
              <i class="bi bi-eye me-2"></i> Detalles
            </a>
            <a class="btn btn-outline-light trash-hover" (click)="deleteItem(anime.id)">
              <i class="bi bi-trash"></i> Eliminar
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="vaultAnimes.length === 0" style="margin-left: 20px">
        No tienes animes en tu Baúl.
      </div>
    </section>

    <section>
      <h2 style="margin-left: 20px;">Manga</h2>
      <div *ngIf="vaultMangas.length > 0" class="vault-carousel">
        <div *ngFor="let manga of vaultMangas" class="vault-card">
          <img [src]="manga.coverImage" [alt]="manga.title" />
          <h2 class="vault-title">{{ manga.title }}</h2>
          <p><strong>Fecha:</strong> {{ manga.releaseDate }}</p>
          <!-- Capa superpuesta con animación -->
          <div class="card-overlay">
            <a class="btn btn-light eye-hover" [routerLink]="['/detail-content', manga.id]">
              <i class="bi bi-eye me-2"></i> Detalles
            </a>
            <a class="btn btn-outline-light trash-hover" (click)="deleteItem(manga.id)">
              <i class="bi bi-trash"></i> Eliminar
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="vaultMangas.length === 0" style="margin-left: 20px">
        No tienes mangas en tu Baúl.
      </div>
    </section>

    <section>
      <h2 style="margin-left: 20px;">Novelas</h2>
      <div *ngIf="vaultNovels.length > 0" class="vault-carousel">
        <div *ngFor="let novel of vaultNovels" class="vault-card">
          <img [src]="novel.coverImage" [alt]="novel.title" />
          <h2 class="vault-title">{{ novel.title }}</h2>
          <p><strong>Fecha:</strong> {{ novel.releaseDate }}</p>
          <!-- Capa superpuesta con animación -->
          <div class="card-overlay">
            <a class="btn btn-light eye-hover" [routerLink]="['/detail-content', novel.id]">
              <i class="bi bi-eye me-2"></i> Detalles
            </a>
            <a class="btn btn-outline-light trash-hover" (click)="deleteItem(novel.id)">
              <i class="bi bi-trash"></i> Eliminar
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="vaultNovels.length === 0" style="margin-left: 20px">
        No tienes novelas en tu Baúl.
      </div>
    </section>
  </div>
</div>

