<div class="container py-5 friendlist-container">
  <h2 class="text-center mb-4 section-title">{{ username }}</h2>

  <div *ngIf="reviewList.length === 0" class="text-center fst-italic mt-5">
    No tienes reseñas. ¡Valora un contenido para empezar!
  </div>

  <div
    class="reviews-wrapper"
    *ngIf="reviewList.length > 0"
  >
    <div class="reviews-wrapper" *ngIf="reviewList.length > 0">
      <app-userreviews-resume
        *ngFor="let review of reviewList"
        [userReviewInput]="review"
        [isOwner]="isOwner">
      </app-userreviews-resume>
    </div>
  </div>
</div>
