<div id="animesRoot" style="position: relative;">
  <div id="progressBarAnimes" class="spinner" *ngIf="loading" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="loader"></div>
  </div>

  <div id="main" *ngIf="!loading">
    <section>
      <h2 style="margin-left: 20px; margin-top: 20px" class="section-title">  En emisión en esta temporada de {{ temporadaActual() | titlecase }}
      </h2>
      <div *ngIf="recentAnimes.length > 0" class="anime-carousel">
        <div *ngFor="let anime of recentAnimes" class="anime-card">
          <img [src]="anime.coverImage" [alt]="anime.title" />
          <h2 class="anime-title">{{ anime.title }}</h2>
          <p><strong>Fecha:</strong> {{ anime.releaseDate }}</p>
          <p *ngIf="(parseFloat(anime.rating!) ?? 0) > 0">
            <strong>Puntuación:</strong> {{ (parseFloat(anime.rating!) / 10) | number:'1.1-1' }}
          </p>
          <div class="card-overlay">
            <a class="btn btn-light eye-hover" [routerLink]="['/detail-content', anime.id]">
              <i class="bi bi-eye me-2"></i> Detalles
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="recentAnimes.length === 0">
        No se encontraron series recientes.
      </div>
    </section>

    <section>
      <h2 style="margin-left: 20px;" class="section-title">Populares</h2>
      <div *ngIf="popularAnimes.length > 0" class="anime-carousel">
        <div *ngFor="let anime of popularAnimes" class="anime-card">
          <img [src]="anime.coverImage" [alt]="anime.title" />
          <h2 class="anime-title">{{ anime.title }}</h2>
          <p><strong>Fecha:</strong> {{ anime.releaseDate }}</p>
          <p *ngIf="(parseFloat(anime.rating!) ?? 0) > 0">
            <strong>Puntuación:</strong> {{ (parseFloat(anime.rating!) / 10) | number:'1.1-1' }}
          </p>
          <div class="card-overlay">
            <a class="btn btn-light eye-hover" [routerLink]="['/detail-content', anime.id]">
              <i class="bi bi-eye me-2"></i> Detalles
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="popularAnimes.length === 0">
        No se encontraron series populares.
      </div>
    </section>

    <section>
      <h2 style="margin-left: 20px;" class="section-title">Lo mejor de {{ anioAnterior() }}
      </h2>
      <div *ngIf="upcomingAnimes.length > 0" class="anime-carousel">
        <div *ngFor="let anime of upcomingAnimes" class="anime-card">
          <img [src]="anime.coverImage" [alt]="anime.title" />
          <h2 class="anime-title">{{ anime.title }}</h2>
          <p><strong>Fecha:</strong> {{ anime.releaseDate }}</p>
          <p *ngIf="(parseFloat(anime.rating!) ?? 0) > 0">
            <strong>Puntuación:</strong> {{ (parseFloat(anime.rating!) / 10) | number:'1.1-1' }}
          </p>
          <div class="card-overlay">
            <a class="btn btn-light eye-hover" [routerLink]="['/detail-content', anime.id]">
              <i class="bi bi-eye me-2"></i> Detalles
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="upcomingAnimes.length === 0">
        No se encontraron los mejores animes.
      </div>
    </section>
  </div>
</div>


